=begin
#Wekan REST API

#The REST API allows you to control and extend Wekan with ease.  If you are an end-user and not a dev or a tester, [create an issue](https://github.com/wekan/wekan/issues/new) to request new APIs.  > All API calls in the documentation are made using `curl`.  However, you are free to use Java / Python / PHP / Golang / Ruby / Swift / Objective-C / Rust / Scala / C# or any other programming languages.  # Production Security Concerns When calling a production Wekan server, ensure it is running via HTTPS and has a valid SSL Certificate. The login method requires you to post your username and password in plaintext, which is why we highly suggest only calling the REST login api over HTTPS. Also, few things to note:  * Only call via HTTPS * Implement a timed authorization token expiration strategy * Ensure the calling user only has permissions for what they are calling and no more 

OpenAPI spec version: v4.17

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15-SNAPSHOT

=end

require 'uri'

module SwaggerClient
  class ChecklistsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a checklist
    # The checklist will be removed, not put in the recycle bin. 
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the ID of the checklist to remove 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2002]
    def delete_checklist(board, card, checklist, opts = {})
      data, _status_code, _headers = delete_checklist_with_http_info(board, card, checklist, opts)
      data
    end

    # Delete a checklist
    # The checklist will be removed, not put in the recycle bin. 
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the ID of the checklist to remove 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2002, Fixnum, Hash)>] InlineResponse2002 data, response status code and response headers
    def delete_checklist_with_http_info(board, card, checklist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.delete_checklist ...'
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.delete_checklist"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.delete_checklist"
      end
      # verify the required parameter 'checklist' is set
      if @api_client.config.client_side_validation && checklist.nil?
        fail ArgumentError, "Missing the required parameter 'checklist' when calling ChecklistsApi.delete_checklist"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists/{checklist}'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s).sub('{' + 'checklist' + '}', checklist.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2002')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#delete_checklist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a checklist item
    # Note: this operation can't be reverted. 
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the checklist ID 
    # @param item the ID of the item to be removed 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2002]
    def delete_checklist_item(board, card, checklist, item, opts = {})
      data, _status_code, _headers = delete_checklist_item_with_http_info(board, card, checklist, item, opts)
      data
    end

    # Delete a checklist item
    # Note: this operation can&#39;t be reverted. 
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the checklist ID 
    # @param item the ID of the item to be removed 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2002, Fixnum, Hash)>] InlineResponse2002 data, response status code and response headers
    def delete_checklist_item_with_http_info(board, card, checklist, item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.delete_checklist_item ...'
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.delete_checklist_item"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.delete_checklist_item"
      end
      # verify the required parameter 'checklist' is set
      if @api_client.config.client_side_validation && checklist.nil?
        fail ArgumentError, "Missing the required parameter 'checklist' when calling ChecklistsApi.delete_checklist_item"
      end
      # verify the required parameter 'item' is set
      if @api_client.config.client_side_validation && item.nil?
        fail ArgumentError, "Missing the required parameter 'item' when calling ChecklistsApi.delete_checklist_item"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists/{checklist}/items/{item}'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s).sub('{' + 'checklist' + '}', checklist.to_s).sub('{' + 'item' + '}', item.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2002')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#delete_checklist_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a checklist item
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the checklist ID 
    # @param item the ID of the item 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :is_finished is the item checked? 
    # @option opts [String] :title the new text of the item 
    # @return [InlineResponse2002]
    def edit_checklist_item(board, card, checklist, item, opts = {})
      data, _status_code, _headers = edit_checklist_item_with_http_info(board, card, checklist, item, opts)
      data
    end

    # Edit a checklist item
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the checklist ID 
    # @param item the ID of the item 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :is_finished is the item checked? 
    # @option opts [String] :title the new text of the item 
    # @return [Array<(InlineResponse2002, Fixnum, Hash)>] InlineResponse2002 data, response status code and response headers
    def edit_checklist_item_with_http_info(board, card, checklist, item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.edit_checklist_item ...'
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.edit_checklist_item"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.edit_checklist_item"
      end
      # verify the required parameter 'checklist' is set
      if @api_client.config.client_side_validation && checklist.nil?
        fail ArgumentError, "Missing the required parameter 'checklist' when calling ChecklistsApi.edit_checklist_item"
      end
      # verify the required parameter 'item' is set
      if @api_client.config.client_side_validation && item.nil?
        fail ArgumentError, "Missing the required parameter 'item' when calling ChecklistsApi.edit_checklist_item"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists/{checklist}/items/{item}'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s).sub('{' + 'checklist' + '}', checklist.to_s).sub('{' + 'item' + '}', item.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = {}
      form_params['isFinished'] = opts[:'is_finished'] if !opts[:'is_finished'].nil?
      form_params['title'] = opts[:'title'] if !opts[:'title'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2002')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#edit_checklist_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get the list of checklists attached to a card
    # @param board the board ID 
    # @param card the card ID 
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse200>]
    def get_all_checklists(board, card, opts = {})
      data, _status_code, _headers = get_all_checklists_with_http_info(board, card, opts)
      data
    end

    # Get the list of checklists attached to a card
    # @param board the board ID 
    # @param card the card ID 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse200>, Fixnum, Hash)>] Array<InlineResponse200> data, response status code and response headers
    def get_all_checklists_with_http_info(board, card, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.get_all_checklists ...'
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.get_all_checklists"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.get_all_checklists"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse200>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#get_all_checklists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a checklist
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the ID of the checklist 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def get_checklist(board, card, checklist, opts = {})
      data, _status_code, _headers = get_checklist_with_http_info(board, card, checklist, opts)
      data
    end

    # Get a checklist
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the ID of the checklist 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def get_checklist_with_http_info(board, card, checklist, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.get_checklist ...'
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.get_checklist"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.get_checklist"
      end
      # verify the required parameter 'checklist' is set
      if @api_client.config.client_side_validation && checklist.nil?
        fail ArgumentError, "Missing the required parameter 'checklist' when calling ChecklistsApi.get_checklist"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists/{checklist}'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s).sub('{' + 'checklist' + '}', checklist.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#get_checklist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a checklist item
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the checklist ID 
    # @param item the ID of the item 
    # @param [Hash] opts the optional parameters
    # @return [ChecklistItems]
    def get_checklist_item(board, card, checklist, item, opts = {})
      data, _status_code, _headers = get_checklist_item_with_http_info(board, card, checklist, item, opts)
      data
    end

    # Get a checklist item
    # @param board the board ID 
    # @param card the card ID 
    # @param checklist the checklist ID 
    # @param item the ID of the item 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChecklistItems, Fixnum, Hash)>] ChecklistItems data, response status code and response headers
    def get_checklist_item_with_http_info(board, card, checklist, item, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.get_checklist_item ...'
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.get_checklist_item"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.get_checklist_item"
      end
      # verify the required parameter 'checklist' is set
      if @api_client.config.client_side_validation && checklist.nil?
        fail ArgumentError, "Missing the required parameter 'checklist' when calling ChecklistsApi.get_checklist_item"
      end
      # verify the required parameter 'item' is set
      if @api_client.config.client_side_validation && item.nil?
        fail ArgumentError, "Missing the required parameter 'item' when calling ChecklistsApi.get_checklist_item"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists/{checklist}/items/{item}'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s).sub('{' + 'checklist' + '}', checklist.to_s).sub('{' + 'item' + '}', item.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChecklistItems')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#get_checklist_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # create a new checklist
    # @param title the title of the new checklist 
    # @param board the board ID 
    # @param card the card ID 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :items the list of items on the new checklist 
    # @return [InlineResponse2002]
    def new_checklist(title, board, card, opts = {})
      data, _status_code, _headers = new_checklist_with_http_info(title, board, card, opts)
      data
    end

    # create a new checklist
    # @param title the title of the new checklist 
    # @param board the board ID 
    # @param card the card ID 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :items the list of items on the new checklist 
    # @return [Array<(InlineResponse2002, Fixnum, Hash)>] InlineResponse2002 data, response status code and response headers
    def new_checklist_with_http_info(title, board, card, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChecklistsApi.new_checklist ...'
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling ChecklistsApi.new_checklist"
      end
      # verify the required parameter 'board' is set
      if @api_client.config.client_side_validation && board.nil?
        fail ArgumentError, "Missing the required parameter 'board' when calling ChecklistsApi.new_checklist"
      end
      # verify the required parameter 'card' is set
      if @api_client.config.client_side_validation && card.nil?
        fail ArgumentError, "Missing the required parameter 'card' when calling ChecklistsApi.new_checklist"
      end
      # resource path
      local_var_path = '/api/boards/{board}/cards/{card}/checklists'.sub('{' + 'board' + '}', board.to_s).sub('{' + 'card' + '}', card.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = {}
      form_params['title'] = title
      form_params['items'] = opts[:'items'] if !opts[:'items'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['UserSecurity']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2002')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChecklistsApi#new_checklist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
